nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu_icon{
    width: 25px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
    color: white;
}
.nav-middle{
    width: 40%;
}
.nav-left h3{
    color: red;

}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    width: 100%;
    height: 40px;
}
.nav-middle .search-box:hover{
    border: 1px solid rgb(3, 229, 254);
    outline: 0px;
    
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    font-size: larger;
    outline: 0;
    background: transparent;
    color: white;
}
::placeholder{
    color: red;
    opacity: 1;
}
.nav-middle .search-box img{
   margin-left: 20%;
}


.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right img:hover{
    background-color: rgb(38, 56, 62);
}
.nav-right .user_icon{
    width: 35px;
    border-radius: 50%;
}

@media (max-width:900px) {
    .menu_icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user_icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
    .nav-middle .search-box img{
        margin-right: -100px;
    }
}


